.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.menu{
    height: 20px;
    width: 20px;
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}

.footer-btn{
    background-color: rgb(53, 54, 58);
    transform:translateX(450%) ;
    width: 140px;
    height: 25px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid #fff;
    color: #fff;
}
.footer-btn:hover{
    background-color: #fff;
    color: black;
    border:none;
    transition: 0.8s;
}
.header-menu{
    color: white;
}


