.tour-container{
    background-color: white;
    width: 620px;
    margin: 30px 0 ;
}
.img{
    width: 620px;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    gap:16px;
}
.title-wrapper{
    display: flex;
    justify-content: space-between;

}
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn{
    background-color: white;
    border: 1px solid red;
    padding: 6px 24px;
    border-radius: 6px;
    cursor: pointer;
    color: red;
}
.btn:hover{
    background-color: #f1f5f8;
    color:blue;
transition: 0.5s;
}
.desc{
    color: #617d98;
}
.price{
    background-color: #ebf7ff;
    color: #49a6e9;
    padding: 4px 8px;
}

